# Laravel & PHP
/vendor
/node_modules
/public/storage
/public/hot
/bootstrap/cache
/storage/*.key
/storage/framework/*
/storage/logs
/.env
/.env.*
!.env.example

# OS / editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
/.nova
/.zed

# Logs
*.log

# AI / tool configs
/.claude
/CLAUDE.md
/AGENTS.md
/.mcp.json
/boost.json
/.codex
/.cursor/
/.agents

# Miscellaneous
/.phpactor.json
/.phpunit.result.cache
/.phpunit.cache
/auth.json
/public/build
/public/fonts-manifest.dev.json
/_ide_helper.php
/Homestead.json
/Homestead.yaml
